@use "../layout/util/" as u;

.container {
  color: var(--clr--white);
  background-color: var(--clr--dark-blue);
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;

  .card,
  .card2 {
    max-width: 350px;
    max-height: 450px;
    display: grid;
    gap: 1rem;
  }

  .card {
    display: grid;
    &__star_image {
      @include u.circle-border;
      img {
        width: 20px;
        height: 20px;
      }
    }

    &__ratenumber {
      display: flex;
      justify-content: space-between;
      li {
        button {
          cursor: pointer;
          @include u.circle-border;
          font-weight: var(--fw--very-bold);
          background-color: none;
          color: var(--clr--medium-grey);

          &:hover {
            background-color: var(--clr--orange);
            color: var(--clr--white);
          }

          &:focus {
            background-color: var(--clr--light-grey);
            color: var(--clr--white);
          }
        }
      }
    }
    button {
      cursor: pointer;
      padding: 0.5rem;
      margin-top: 1rem;
      border: none;
      border-radius: 1.5rem;
      font-weight: var(--fw--bold);
      background-color: var(--clr--orange);
      color: var(--clr--white);

      &:hover {
        transition: 0.5s;
        background-color: var(--clr--white);
        color: var(--clr--orange);
      }
    }
  }
  .card2 {
    display: none;
    justify-items: center;
    text-align: center;

    div {
      @include u.grid-gap1rem;
    }

    &__header {
      p {
        color: var(--clr--orange);
        background-color: var(--clr--very-dark-blue);
        padding: 0.3rem 1rem;
        border-radius: 1rem;
      }
    }
    &__thankyou {
      margin-top: 1rem;

      p {
        color: var(--clr--light-grey);
      }
    }
  }
}
